# .NET
*.obj
*.dll
*.exe
*.pdb
*.log
*.vscode/
*.vs/
*/bin/
*/obj/

# Build Folders (artifacts)
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
*.user
*.vspscc
*.vssscc
*.ncb
*.suo
*.cache
*.sln.docstates
*.userprefs
*.projdata
*.pdb
*.idb
*.log
*.tlog/
*.lastbuildstate
*.dbschema
*.dbmdl
*.jfm
*.pfx
*.ilk
*.aps
*.ipch
*.opendbproj
*.VC.db
*.VC.VC.opendbproj
